<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
</head>
<body>
    <form method="GET" action="/">
        <label for="name_filter">Filter by name:</label>
        <input type="text" id="name_filter" name="name_filter" value="{{name_filter}}">
        <button type="submit">Filter</button>
    </form>
    <br>
    {% for movie in movies %}
        <h1>{{ movie['name'] }}</h1>
    {% endfor %}
</body>
</html>
